<div class="logo"><%= gravatar_for @user %></div>

<div class="show_layout">
    <span class="label label-info">ユーザ名</span>
    
    <%= @user.name %>
</div>

<div class="show_layout">
    <span class="label label-info">メールアドレス</span>
    
    <%= @user.email %>
</div>

<div class="show_layout">
    <span class="label label-info">出身</span>
    
    <%= @user.area %>
</div>