<div class="logo"><%= gravatar_for @user %></div>

<div class="show_layout">
    <span class="btn btn-sm btn-primary">ユーザ名</span>
    
    <%= @user.name %>
</div>

<div class="show_layout">
    <span class="btn btn-sm btn-primary">メールアドレス</span>
    
    <%= @user.email %>
</div>

<div class="show_layout">
    <span class="btn btn-sm btn-primary">出身</span>
    
    <%= @user.area %>
</div>